# flyctl launch added from .gitignore
**/database.db

# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.pytest_cache/**/*

# flyctl launch added from .ruff_cache/.gitignore
.ruff_cache/**/*

# flyctl launch added from htmlcov/.gitignore
# Created by coverage.py
htmlcov/**/*

# flyctl launch added from tests/htmlcov/.gitignore
# Created by coverage.py
tests/htmlcov/**/*
fly.toml
